/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
  #CSS RESET
\*------------------------------------*/
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

#sidr {
  width: 200px; }

#sidr-button {
  background-color: #ffffff;
  width: 100px;
  height: 100vh;
  box-sizing: border-box; }
  #sidr-button #menu-logo {
    position: relative;
    top: 1%;
    width: 40px;
    padding: 37px 30px 0 30px; }
  #sidr-button .fa-bars {
    text-align: center;
    position: relative;
    width: 100px;
    top: 40%;
    color: #d8d8d8; }

/*------------------------------------*\
  #Article
\*------------------------------------*/
.article {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  background: url("img/gnabry.jpg") no-repeat center center fixed;
  background-size: cover; }

.navParent {
  margin: 0 auto;
  display: flex;
  height: 100px; }
  .navParent .navWhite {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1102px;
    margin: 0 auto;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 5px solid #ee7203;
    transform: skew(-40deg); }
    .navParent .navWhite .strapline {
      margin-left: 100px;
      transform: skew(40deg) !important;
      width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
    .navParent .navWhite ul {
      display: flex;
      flex-direction: row;
      font-family: 'Istok Web', sans-serif;
      margin-left: 280px;
      font-size: 14px;
      letter-spacing: 2px;
      color: #7b7b7a;
      transform: skew(40deg) !important;
      height: 100%;
      line-height: 60px; }
      .navParent .navWhite ul li {
        margin: 0 18px;
        height: 100%; }
  .navParent .navOrange {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin: 0 auto;
    height: 60px;
    background-color: #ee7203;
    transform: skew(-40deg); }
    .navParent .navOrange p {
      font-family: 'Istok Web', sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      color: #ffffff;
      transform: skew(40deg) !important; }

.nav::after {
  position: relative;
  top: 40px;
  width: 101px;
  margin: 0 auto;
  height: 60px;
  background-color: #ffffff; }

.homePageText {
  position: fixed;
  top: 41%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 146px; }
  .homePageText h2 {
    font-size: 11px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    color: #ffffff; }
  .homePageText h1 {
    padding-top: 48px;
    font-size: 65px;
    font-family: 'Istok Web', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #ffffff; }

.button {
  margin-top: 40px;
  width: 131px;
  height: 41px;
  background-color: #ee7203;
  display: flex;
  align-items: center;
  padding-left: 20px; }
  .button h3 {
    font-size: 11px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    color: #ffffff; }

/*# sourceMappingURL=styles.css.map */
